
img {
    height: 75px;
    width: 100px;
}

.footerColor {
    color: white;
}

h1 {
    color: white;
}

nav {
    color: black;
}

.carouselImg {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.navButton {
    background-color: blue;
    color: white;
}